<%= render "layouts/header" %>
<%= render "layouts/flasher" %>

<section class="section_container" id="welcome">
  <div class="splash_text">
    <h3>
      We hope you will join us in the forest!
    </h3>    
  </div>
</section>
<section class="section_container" id="intro">
  <div class="flex_center">
    <img src="<%= image_url("welcome_sign.png") %>" id="welcome_sign">
  </div>
  <div class="section group">
    <div class="col span_1_of_2">
      <p>
        We are excited to spend the weekend at Wellspring Spa with our families and friends celebrating love, good food, the outdoors and a little spark of fire.
      </p>
      <p>
        We will begin the weekend with a welcome dinner <time datetime="2017-07-07 18:00">Friday night</time> to which all are invited. <time datetime="2017-07-08 07:00">Saturday morning</time> will be a wonderful time to start the day enjoying yoga in the Tom Tom Yurt.
      </p>
    </div>
    <div class="col span_1_of_2">
      <p>
        You can then enjoy all that Mt. Rainier has to offer taking in the beauty of the outdoors that we love so. Or book a massage at the Spa. We’ll start the festivities at <time datetime="2017-07-08 16:30">4:30pm</time> with a pre-ceremony snack and drink. After the ceremony in the forest Sanctuary we’ll have a <time datetime="2017-07-08 17:30">cocktail hour</time>, then <time datetime="2017-07-08 18:30">family style dinner</time>. Cake, drinks and of course s’mores will be shared to continue the fun.
      </p>
    </div>
  </div>
</section>
<section class="section_container" id="rsvp">
  <header>
    <h2 class="section_header">Répondez, S'il Vous Plaît</h2>
  </header>
  <div class="flex_center">
    <p>
      <% if checked_in? %>
        <%= link_to("See Your Reservation", current_guest) %>
      <% else %>
        <%= link_to("RSVP", rsvp_path) %>
      <% end %>
    </p>
  </div>
</section>
<section class="section_container" id="lodging">
  <div class="flex_center">
    <%= image_tag("tree_emblem.png", id: "tree_emblem") %>
  </div>
  <header>
    <h2 class="section_header">Lodging</h2>
  </header>
  <div>
    <div>
      <p>
        Wellspring Spa is located near the town of <%= link_to("Ashford, WA", "https://www.google.com/maps/place/Ashford,+WA+98304/") %> about 3 miles west of Mt. Rainier National Park. Summer is a busy time for the park, so <span class="emphasis">we suggest securing lodging early</span>.
      </p>
      <p>
        There are many cabins and local lodging options available.
      </p>
    </div>
    <div id="lodging_options">
      <div class="flex_center">
        <%= link_to(image_tag("lodging_options-airbnb.png", alt: "airbnb"), "https://www.airbnb.com/s/Ashford--WA--United-States?guests=4&checkin=07%2F07%2F2017&checkout=07%2F09%2F2017&ss_id=3cn6ectw&ss_preload=true&adults=4&children=0&infants=0&source=bb&page=1&allow_override%5B%5D=&ne_lat=46.767570969002826&ne_lng=-121.95966317310535&sw_lat=46.733942235272096&sw_lng=-122.00386597767078&zoom=14&search_by_map=true&s_tag=hl9Yydem") %>
      </div>
      <div class="flex_center">
        <%= link_to(image_tag("lodging_options-visit_rainier.png", alt: "Visit Rainier"), "http://visitrainier.com/lodging/") %>
      </div>
      <div class="flex_center">
        <%= link_to(image_tag("lodging_options-vrbo.png", alt: "VRBO"), "https://www.vrbo.com/vacation-rentals/usa/washington/wa-southwest/mt-rainier/ashford?sleeps=4-plus&from-date=2017-07-07&to-date=2017-07-09&adultsCount=4&childrenCount=0") %>
      </div>
    </div>
    <div id="camping_options">
        <p>
          If you are the camping type, there are also several campsites in the park, the closest being Cougar Rock.
        </p>
        <div class="flex_center">
          <%= link_to(image_tag("lodging_options-nps.png", alt: "The National Parks System at Mount Rainier"), "https://www.nps.gov/mora/planyourvisit/campgrounds.htm") %>
        </div>
    </div>
  </div>
</section>
<section class="section_container" id="schedule">
  <header>
    <h2 class="section_header">Schedule</h2>
  </header>
  <table class="flex_center" id="weekend_schedule">
    <th colspan="2">
      <time datetime="2017-07-07">Friday July 7, 2017</time>
    </th>
    <tr>
      <td>
        <time datetime="2017-07-07 18:00">6pm</time>
      </td>
      <td>
        Welcome Dinner, casual dinner at the Gazebo
      </td>
    </tr>
    <th colspan="2">
      <time datetime="2017-07-08 07:00">Saturday July 8, 2017</time>
    </th>
    <tr>
      <td>
        <time datetime="2017-07-08 07:00">7am</time> ＆ <time datetime="2017-07-08 10:00">10am</time>
      </td>
      <td>
        Yoga in the Tom Tom Yurt
      </td>
    </tr>
    <tr>
      <td>
        <time datetime="2017-07-08 16:30">4:30pm</time>
      </td>
      <td>
        Pre-Ceremony Snack and Drink near the Gazebo
      </td>
    </tr>
    <tr>
      <td>
        <time datetime="2017-07-08 17:00">5pm</time>
      </td>
      <td>
        Wedding Ceremony and Vows in the Sanctuary
      </td>
    </tr>
    <tr>
      <td>
        <time datetime="2017-07-08 17:30">5:30pm</time>
      </td>
      <td>
        Cocktail Hour near the Gazebo
      </td>
    </tr>
    <tr>
      <td>
        <time datetime="2017-07-08 18:30">6:30pm</time>
      </td>
      <td>
        Reception Dinner near the Gazebo
      </td>
    </tr>
  </table>
</section>
<section class="section_container" id="activities">
  <div class="flex_center">
    <%= image_tag("two_trees.png", id: "two_trees") %>
  </div>
  <header>
    <h2 class="section_header">Things to Do Nearby</h2>
  </header>
    <div class="section group">
      <div class="col span_1_of_2">
        <p>
          Wellspring Spa has a variety of things to do on site. There are a couple <%= link_to("saunas and hot tubs", "http://wellspringspa.com/spa/") %> available to soak or bake in, and a labyrinth to wander and meditate in. Ryan’s friend Emily will be teaching yoga in the Tom Tom Yurt on Saturday morning at <time datetime="2017-07-08 07:00">7am</time> and <time datetime="2017-07-08 10:00">10am</time>. If you would like to book yourself a massage, <span class="emphasis">please email Wellspring</span> at <a href="mailto:info@wellspringspa.com">info@wellspringspa.com</a>
        </p>
      </div>
      <div class="col span_1_of_2">
        <p>
          <%= link_to("Mt. Rainier", "http://visitrainier.com") %> is just next door and offers many things to see and do. There are trails all over the park, from short child-friendly ones to longer multi-day treks. <%= link_to("National Park Inn", "http://mtrainierguestservices.com/accommodations/national-park-inn/") %> and <%= link_to("Paradise Lodge", "http://mtrainierguestservices.com/accommodations/paradise-inn/") %> are two beautiful lodges on the south side of the park.  
        </p>
      </div>
    </div>
</section>

<section class="section_container" id="photobreak_one"></section>

<section class="section_container" id="venue">
  <div class="flex_center">
    <%= image_tag("three_trees.png", id: "three_trees") %>
  </div>

  <header>
    <h2 class="section_header">Venue</h2>
  </header>
  <div class="section group">
    <div class="col span_1_of_2">
      <p>
        <%= link_to("Wellspring Spa", "http://wellspringspa.com/") %> sits just outside Mt. Rainier National Park. It is a wonderful and somewhat remote space that highlights the beauty of Washington's forests. 
      </p>
      <p>
        Here are some things to know about where we’ll be saying “I do:”
      </p>
      <p>
        There are woodland trails around the entire property. The trails are dirt and have roots and rocks that stick up. There isn’t much elevation gain across the property but there is a ⅓ mile “hike” from the Gazebo, the site of the pre-ceremony drinks, to the Sanctuary, where the ceremony will take place. We will also be having the reception on a lawn. Please plan ahead when choosing your footwear! 
      </p>
    </div>
    <div class="col span_1_of_2">
      <p>
        As with any location in Washington, there is always the chance of rain. Also, being out in the woods means it most likely will cool off in the evening (mid 40s). We suggest coming prepared with several layers to change into. 
      </p>
      <p>
        Wellspring Spa is remote. There is <span class="emphasis">very limited, to no cell coverage</span>. Do not plan on having access to your devices while at the property (or in Mt. Rainier National Park). There is a landline phone booth in Ashford if you need to place a call. 
      </p>
      <p>
        <span class="emphasis">No pets</span> and <span class="emphasis">no smoking</span> will be allowed on the property, and fires are only allowed in the designated ring in the Gazebo. Please help us maintain the beauty of the location by following a “leave no trace” policy. 
      </p>
    </div>
  </div>
</section>

<section class="section_container" id="photobreak_two"></section>

<section class="section_container" id="registry">
  <div class="flex_center">
    <%= image_tag("solo_tree.png", id: "solo_tree") %>
  </div>

  <header>
    <h2 class="section_header">Registry</h2>
  </header>
  <p class="flex_center">
    We are registered at:
  </p>
  <div class="">
    <div id="registered_retailers">
      <div class="flex_center">
        <%= link_to(
          image_tag("registered_food52.png", id: ""),
          "https://food52.com/shop/registry",
          alt: "Food52") %>
      </div>
      <div class="flex_center">
        <%= link_to(
          image_tag("registered_crate.png", id: ""),
          "http://www.crateandbarrel.com/gift-registry/",
          alt: "Crate & Barrel") %>
      </div>
      <div class="flex_center">
        <%= link_to(
          image_tag("registered_rei.png", id: ""),
          "https://www.rei.com/lists",
          alt: "REI") %>
      </div>
    </div>
  </div>
</section>

<section class="section_container" id="photobreak_three"></section>

<section class="section_container" id="directions">
  <div class="flex_center">
    <%= image_tag("single_tree.png", id: "single_tree") %>
  </div>

  <header>
    <h2 class="section_header">Directions</h2>
  </header>
  <p>
    Wellspring Spa’s address is <%= link_to("54922 Kernahan Road East, Ashford, WA 98304", "https://www.google.com/maps/place/54922+Kernahan+Rd+E,+Ashford,+WA+98304/") %>
  </p>
  <p>
    As it is <span class="emphasis">a remote area with limited cell reception</span>, we suggest printing off or downloading a map of the area or directions for all your activities. 
  </p>
  <div class="section group" id="direction_links">
    <div class="col span_1_of_2">
      <fig class="flex_center">
        <%= link_to(
          image_tag("from_seattle.jpg", id: ""),
          "https://www.google.com/maps/dir/Seattle,+Washington/54922+Kernahan+Rd+E,+Ashford,+WA+98304/",
          alt: "From Seattle") %>
      </fig>
      <figcaption class="flex_center">
        From Seattle (or other points north)
      </figcaption>
    </div>
    <div class="col span_1_of_2">
      <fig class="flex_center">
        <%= link_to(
          image_tag("from_portland.jpg", id: ""),
          "https://www.google.com/maps/dir/Portland,+Oregon/54922+Kernahan+Rd+E,+Ashford,+WA+98304/",
          alt: "From Portland") %>
      </fig>
      <figcaption class="flex_center">
        From Portland (or other points south) 
      </figcaption>
    </div>
  </div>


</section>

<section class="section_container" id="photobreak_four"></section>

<%= render "layouts/footer" %>