<div id="navbar">
  <ul class="topnav">
    <li class="left">
      <%= link_to(image_tag("small_tree_emblem.png", size: 52, alt: "Home")) %>  
    </li>
    <li >
      <%= link_to("Venue", "#venue") %>
    </li>
    <li>
      <%= link_to("Activities", "#activities") %>
    </li>
    <li>
      <%= link_to("Schedule", "#schedule") %>
    </li>
    <li>
      <%= link_to("Lodging", "#lodging") %>
    </li>
    <li>
      <%= link_to("RSVP", "#rsvp", class: "active") %>
    </li>
  </ul>
</div>


<div class="section_container" id="welcome_splash">
  <div class="mid_section_splash_text" id="join_us">
    <h3>
      <span>We hope you will join us in the forest!</span>
    </h3>    
  </div>
</div>
<div class="section_container" id="intro">
  <div class="flex_center">
    <img src="<%= image_url("welcome_sign.png") %>" id="welcome_sign">
  </div>
  <p>
    We are excited to spend the weekend at Wellspring Spa with our families and friends celebrating love, good food, the outdoors and a little spark of fire.
  </p>
  <p>
     We will begin the weekend with a welcome dinner Friday night to which all are invited. Saturday morning will be a wonderful time to start the day enjoying yoga in the Tom Tom Yurt. You can then enjoy all that Mt. Rainier has to offer taking in the beauty of the outdoors that we love so. Or book a massage at the Spa. We’ll start the festivities at 4:30pm with a pre-ceremony snack and drink. After the ceremony in the forest Sanctuary we’ll have a cocktail hour, then family style dinner. Cake, drink and of course s’mores will be shared to continue the fun.
  </p>
  
</div>
<div class="section_container" id="rsvp">
  <div>
    <h2 class="section_header">
      Répondez, S'il Vous Plaît
    </h2>
  </div>
  <div class="flex_center">
    <p>
      <%= link_to("RSVP", "#", class: "see_thru_button") %>
    </p>
  </div>
</div>
<div class="section_container" id="lodging">
  <h2 class="section_header">
    Lodging
  </h2>
  <p>
    Wellspring Spa is located near the town of Ashford, WA about 3 miles west of Mt. Rainier National Park. Summer is a busy time for the park, we suggest securing lodging early.
  </p>
  <p>
    We have a small block of rooms at:
  </p>
  <p>
    There are many cabins available via Airbnb and VBRO.
  </p>
  <p>
    Here is also a list of local lodging options: http://visitrainier.com/lodging/ 
  </p>
  <p>
    If you are the camping type, there are also several campsite in the park. The closest being Cougar Rock. https://www.nps.gov/mora/planyourvisit/campgrounds.htm 
  </p>
</div>
<div class="section_container" id="schedule">
  <h2 class="section_header">
    Schedule
  </h2>
  <p>
    Friday July 7, 2017
    6pm Welcome dinner, casual dinner at the Gazebo
  </p>
  <p>
    Saturday July 8, 2017
    7 and 10am Yoga in the Tom Tom Yurt
    4:30pm Pre-Ceremony Snack and Drink near the Gazebo
    5pm Wedding Ceremony and Vows in the Sanctuary
    5:30pm Cocktail hour near the Gazebo
    6:30pm Reception Dinner near the Gazebo
  </p>
</div>
<div class="section_container" id="activities">
  <h2 class="section_header">
    Things to Do Nearby
  </h2>
  <p>
    Wellspring Spa has a variety of things to do on site. There are a couple saunas and hot tubs available to soak or bake in, and a labyrinth to wander and meditate in. Ryan’s friend Emily will be teaching yoga in the Tom Tom Yurt on Saturday morning at 7am and 10 am. If you would like to book yourself a massage please call Wellspring at 
  </p>
  <p>
    Mt. Rainier is just next door and offers many things to see and do. There are trails all over the park from short child friendly ones, to longer multi-day treks. Longmire and Paradise are also two beautiful lodges on the south side of the park. http://visitrainier.com 
  </p>
</div>
<div class="section_container" id="venue">
  <h2 class="section_header">
    Venue
  </h2>
  <p>
    Wellspring Spa sits just outside Mt. Rainier National Park. It is a wonderful and somewhat remote space that highlights the beauty of Washington's forests. 
  </p>
  <p>
    Here are some things to know about where we’ll be saying “I do:”
  </p>
  <p>
    There are woodland trails around the entire property. The trails are dirt and have roots and rocks that stick up. There isn’t much elevation gain across the property but there is a ⅓ mile “hike” from the Gazebo; the site of the pre-ceremony drinks to the Sanctuary where the ceremony will take place. We will also be having the reception on a lawn. Please plan ahead when choosing your footwear! 
  </p>
  <p>
    As with any location in Washington there is always the chance of rain.  Also, being out in the woods means it most likely will cool off in the evening (mid 40s). We suggest coming prepared with several layers to change into. 
  </p>
  <p>
    Wellspring Spa is remote, there is very limited, to no cell coverage. Do not plan on having access to your devices while at the property (or in Mt. Rainier NP). There is a landline phone booth in Ashford if you need to place a call. 
  </p>
  <p>
    There are no pets or smoking allowed and fires are only in the designated ring in the Gazebo. Please help us maintain the beauty of the location by following a “leave no trace” policy. 
  </p>
  <p>
    [add the map here?]
  </p>
</div>
<div class="section_container" id="registry">
  <h2 class="section_header">
    Registry
  </h2>
  <p>
    We are registered at:
  </p>
  <p>
    Food52 https://food52.com/shop/registry
    Crate & Barrel  http://www.crateandbarrel.com/gift-registry/ 
    REI  https://www.rei.com/lists 
</p>
</div>
<div class="section_container" id="directions">
  <h2 class="section_header">
    Directions
  </h2>
  <p>
    Wellspring Spa’s address is 54922 Kernahan Road East, Ashford, WA 98304
  </p>
  <p>
    As it is remote area with limited cell reception we suggest printing off or downloading a map of the area or directions for all your activities. 
  </p>
  <p>
    From Seattle (or other points north): 
  </p>
  <p>
    From Portland (or other points south):
  </p>
</div>
<div class="section_container" id="contact">
  <h2 class="section_header">
    Contact Information
  </h2>
  <div class="mid_section_splash_text" id="excited">
    <h3>
      We are excited to have you join us. If you have any questions don’t hesitate to contact us.
    </h3>    
  </div>
  <div>
    <p class="flex_center">
      Anna <a href="tel:+12064598713">206.459.8713</a> or <a href="mailto:anna.birinyi@gmail.com">anna.birinyi@gmail.com</a>
    </p>
    <p class="flex_center">
      Ryan <a href="tel:+12066591036">206.659.1036</a> or <a href="mailto:wallace.ryan@gmail.com">wallace.ryan@gmail.com</a>
    </p>
  </div>
</div>