<%= render "layouts/header" %>
<%= render "layouts/flasher" %>

<section>
  <h1>Reservation Lookup</h1>
  <div>
    <%= form_for(:session, url: check_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form_control" %>

      <%= f.submit "Check Reservation", class: "" %>
    <% end %>

    <p>Is this your first time to the site? You can <%= link_to "RSVP here", rsvp_path %>.</p>
  </div>
</section>