<%= render "layouts/header" %>


<section class="section_container" id="check">
  <h1 class="section_header">Reservation Lookup</h1>
  <%= render "layouts/flasher" %>
    <%= form_for(:session, url: check_path) do |f| %>
  <table class="flex_center">
    <td><%= f.label :email %></td>
    <td><%= f.email_field :email %></td>
  </table>
  <div class="flex_center">
    <%= f.submit "Check Reservation", class: "submit_button" %>
    <% end %>
  </div>
  <!-- ThreePerEm space inserted infront of RSVP Link -->
  <p class="flex_center">Is this your first time to the site? You can <%= link_to("RSVP here", rsvp_path) %>.</p>
</section>

<%= render "layouts/tree_emblem" %>
<%= render "layouts/footer" %>