<%= form_for(@guest, url: rsvp_path) do |f| %>

<h2>Response Party</h2>
<table class="flex_center">
  <tr>
    <td><%= f.label :name, "Your Name" %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label :email %></td>
    <td><%= f.email_field :email %></td>
  </tr>
  <tr>
    <td><%= f.label :members_in_party %></td>
    <td>
      <%= select("members_in_party", "members_in_party", [1,2,3,4,5,6], { include_blank: true }) %>
    </td>
  </tr>
</table>


  <%= f.fields_for :attendees do |attendee_form| %>
    <table class="attendee_row">
      <tr>
        <td><%= attendee_form.text_field :name, placeholder: "attendee name" %></td>
        <td>
          <%= attendee_form.label :child, "Child under 10" %><%= attendee_form.check_box :child %>
        </td>
        <td>
          <%= attendee_form.label :welcome_dinner %><%= attendee_form.check_box :welcome_dinner %></td>
        <td>
          <%= attendee_form.label :yoga %><%= attendee_form.select :yoga, ["","7am","9am","11am"] %></td>
        <td>
          <%= attendee_form.label :reception_dinner %><%= attendee_form.check_box :reception_dinner %></td>
        <td>
          <%= attendee_form.label :vegan %><%= attendee_form.check_box :vegan %></td>
        <td><%= attendee_form.text_field :food_restrictions, placeholder: "other food restrictions or notes" %></td>
      </tr>
    </table>
  <% end %>

<table class="flex_center">
  <tr>
    <td><%= f.label :song_artist %></td>
    <td><%= f.text_field :song_artist, placeholder: "song artist" %></td>
  </tr>
  <tr>
    <td><%= f.label :song_title %></td>
    <td><%= f.text_field :song_title, placeholder: "song title" %></td>
  </tr>
</table>

  <%= render "shared/error_messages", object: f.object %>

<div class="flex_center" id="submit_box">
  <%= f.submit yield(:button_text), class: "submit_button" %>
</div>

<% end %>