<%= form_for(@guest, url: rsvp_path) do |f| %>
  <%= render "shared/error_messages" %>

<h2>Response Party</h2>
<table class="flex_center">
  <tr>
    <td><%= f.label :name, "Your Name" %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label :email %></td>
    <td><%= f.email_field :email %></td>
  </tr>
  <tr>
    <td><%= f.label :members_in_party, "Members in Your Party" %></td>
    <td><%= f.select :members_in_party, ["",1,2,3,4,5,6] %></td>
  </tr>
</table>

<div class="flex_center" id="submit_box">
  <%= f.submit yield(:button_text), class: "submit_button" %>
</div>

<% end %>