<%= form_for(@guest, url: rsvp_path) do |f| %>
  <%= render "shared/error_messages", object: f.object %>

<h2>Response Party</h2>
<table class="flex_center">
  <tr>
    <td><%= f.label :name, "Your Name" %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label :email %></td>
    <td><%= f.email_field :email %></td>
  </tr>
  <tr>
    <td><%= f.label :members_in_party, "Members in Your Party" %></td>
    <td><%= f.select :members_in_party, ["",1,2,3,4,5,6] %></td>
  </tr>
</table>
<table>
  <tr>
    <th>Attendee Name</th>
    <th>Child<br><small>above age 3</small></th>
    <th>Welcome Dinner<br><small>Friday Evening</small></th>
    <th>Yoga<br><small>Saturday Morning</small></th>
    <th>Reception Dinner<br><small>Saturday Evening</small></th>
    <th>Vegan</th>
    <th>Food Restrictions</th>
    <th>Song Artist</th>
    <th>Song Title</th>
  </tr>
</table>
  <%= f.fields_for :attendees do |attendee_form| %>
    <table>
      <tr>
        <td><%= attendee_form.text_field :name, placeholder: "attendee name" %></td>
        <td><%= attendee_form.check_box :child %></td>
        <td><%= attendee_form.check_box :welcome_dinner %></td>
        <td><%= attendee_form.select :yoga, ["","7am","9am","11am"] %></td>
        <td><%= attendee_form.check_box :reception_dinner %></td>
        <td><%= attendee_form.check_box :vegan %></td>
        <td><%= attendee_form.text_field :food_restrictions, placeholder: "other food restrictions" %></td>
        <td><%= attendee_form.text_field :song_artist, placeholder: "song artist" %></td>
        <td><%= attendee_form.text_field :song_title, placeholder: "song title" %></td>
      </tr>
    </table>
  <% end %>

<div class="flex_center" id="submit_box">
  <%= f.submit yield(:button_text), class: "submit_button" %>
</div>

<% end %>