<%= render "layouts/header" %>
<% provide(:button_text, "Confirm Changes") %>

<section class="section_container" id="edit">
  <h1 class="section_header">Edit Your Reservation</h1>
<%= render "layouts/flasher" %>
  <div>

    <%= form_for(@guest, url: rsvp_path) do |f| %>

    <h2>Contact Info</h2>
    <table class="flex_center">
      <tr>
        <td class="midway"><%= f.label :name, "Your Name" %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td class="midway"><%= f.label :email %></td>
        <td><%= f.email_field :email %></td>
      </tr>
    </table>

    <h2>Attendees (<%= @guest.attendees.count %>)</h2>
      <%= f.fields_for :attendees do |attendee_form| %>
        <table class="attendee_row flex_center">
          <tr>
            <td><%= attendee_form.text_field :name, placeholder: "attendee name" %></td>
            <td>will attend:</td>
            <td>
              <%= attendee_form.label :welcome_dinner %><%= attendee_form.check_box :welcome_dinner %></td>
            <td>
              <div class="tooltip">
                <%= attendee_form.label :yoga, "Morning Yoga" %>
                <span class="tooltip_text"><%= render "shared/yoga_disclaimer" %></span>
              </div>
              <%= attendee_form.select :yoga, ["","7am","9am","11am"] %>
            </td>
            <td>
              <%= attendee_form.label :reception_dinner, "Ceremony & Reception" %><%= attendee_form.check_box :reception_dinner %></td>
            <td>|</td>
            <td>
              <%= attendee_form.label :child, "Child under 10" %><%= attendee_form.check_box :child %>
            </td>
            <td>
              <%= attendee_form.label :vegan %><%= attendee_form.check_box :vegan %></td>
            <td><%= attendee_form.text_field :food_restrictions, placeholder: "other" %></td>
          </tr>
        </table>
      <% end %>

    <h2>Song Requests (<%= @guest.songs.count %>)</h2>

    <%= f.fields_for :songs do |song_form| %>
      <table class="song_row flex_center">
        <tr>
          <td>
            <%= song_form.label "Song Request ##{song_form.options[:child_index] + 1}" %>
          </td>
          <td><%= song_form.text_field :artist, placeholder: "artist" %></td>
          <td><%= song_form.text_field :title, placeholder: "title" %></td>
        </tr>
      </table>
    <% end %>

      <%= render "shared/error_messages", object: f.object %>

    <div class="flex_center" id="submit_box">
      <%= f.submit yield(:button_text), class: "submit_button" %>
    </div>

    <% end %>

    <p>
      Are you not <%= @guest.name %>? You can <%= link_to("exit to the main page", check_out_path, method: "delete") %>, or <%= link_to("check here", check_path) %> for another reservation.
    </p>

  </div>
</section>

<%= render "layouts/tree_emblem" %>
<%= render "layouts/footer" %>