<section id="index">
  <% if @guests.present? %>
  <h1 class="flex_center">GODZILLAMODE:ENGAGED</h1>
  <div class="flex_center">
    <%= image_tag("godzillamode.jpg", alt: "Godzilla Mode") %>
  </div>

  <p align="center">This data may also be downloaded as a <%= link_to("CSV file", "godzillamode.csv") %>. The last change was made <%= time_ago_in_words(@attendees.order("updated_at").last.updated_at) %> ago. (For <%= @attendees.order("updated_at").last.name %>.)



  <h2 class="flex_center">Party Heads</h2>
  <div class="flex_center">
    <table>
      <tr>
        <th>Guest Name</th>
        <th>Email Address</th>
        <th>Last Updated</th>
      </tr>
      <% @guests.order("updated_at DESC").each do |guest| %>
      <tr>
        <td><%= guest.name %></td>
        <td><%= guest.email %></td>
        <td><%= time_ago_in_words(guest.updated_at) %></td>
      </tr>
      <% end %>
    </table>
  </div>

  <h2 class="flex_center">Attendee List</h2>
  <div class="flex_center">
    <table>
      <tr>
        <th>Assoc. Email</th>
        <th>Attendee Name</th>
        <th>Can't Come</th>
        <th>Welcome Dinner</th>
        <th>Yoga</th>
        <th>Reception Dinner</th>
        <th>Child</th>
        <th>Vegan</th>
        <th>Food Restrictions</th>
        <th>Last Updated</th>
      </tr>
      <% @guests.order("updated_at DESC").each do |guest| %>
        <% guest.attendees.each do |a| %>
            <tr>
              <td><%= guest.email %></td>
              <td><%= a.name %></td>
              <td><% if a.unable_to_attend? %>❌<% end %></td>
              <td>
                <% if a.welcome_dinner? %>✔️<% end %>  
              </td>
              <td><%= a.yoga %></td>
              <td>
                <% if a.reception_dinner? %>✔️<% end %>
              </td>
              <td>
                <% if a.child? %>✔️<% end %>
              </td>
              <td>
                <% if a.vegan? %>✔️<% end %>
              </td>
              <td><%= a.food_restrictions %></td>
              <td><%= time_ago_in_words(a.updated_at) %></td>
            </tr>
        <% end %>
      <% end %>
    </table>
  </div>

  <h2 class="flex_center">Song List</h2>
  <div class="flex_center">
    <table>
      <tr>
        <th>Assoc. Email</th>
        <th>Artist</th>
        <th>Title</th>
        <!-- <th>Last Updated</th> -->
      </tr>
      <% @guests.order("updated_at ASC").each do |guest| %>
        <% guest.songs.each do |a| %>
            <tr>
              <td><%= guest.email %></td>
              <td><%= a.artist %></td>
              <td><%= a.title %></td>
              <!-- <td><%= time_ago_in_words(a.updated_at) %></td> -->
            </tr>
        <% end %>
      <% end %>
    </table>
  </div>

<% else %>
  <div class="flex_center">
    <%= image_tag("godzilla.jpg", alt: "Pretty in Pink") %>
  </div>
  <p class="flex_center">(no guest responses)</p>
<% end %>

</section>