<%= render "layouts/header" %>
<%= render "layouts/flasher" %>
<% provide(:button_text, "Submit Response") %>

<section class="section_container" id="rsvp_page">
  <h1 class="section_header">RSVP</h1>
  <div>
    <%= render "form" %>

    <p>
      <% if checked_in? %>
        It appears you have already started filling out a reservation. See your <%= link_to("Existing Reservation", current_guest, class: "emphasis") %>.
      <% else %>
        Have you filled out this form before? Check for an <%= link_to("existing reservation", check_path) %>.
      <% end %>
    </p>
  </div>
</section>

<%= render "layouts/tree_emblem" %>
<%= render "layouts/footer" %>




<!-- 

    <h2>The Wedding</h2>
    <p>
      We would love to have your presence at the Wedding Ceremony and Reception Saturday July 8th.
    </p>

    <p>
      Reception food is vegetarian. Do you have any other food restrictions?
    </p>

    <h2>Welcome Dinner</h2>
    <p>
      All are invited to join us Friday night as we start the weekend off. We’ll be serving a casual dinner at the Gazebo starting 6pm.
    </p>

    <h2>Yoga</h2>
    <p>
      Ryan’s friend from college, <%= link_to("Emily Rollie", "http://www.emilyrollie.com/yoga", target: "_blank") %>, will be joining us and leading two yoga classes Saturday morning.
    </p>

    <h2>Music</h2>
    <p>Be our DJ! We've decided to not have a professional DJ at the wedding. Instead we thought we'd ask our family and friends to share with us the music they love. Nominate the song you would most like us to add to the party playlist.</p>

 -->