<%= render "layouts/header" %>
<%= render "layouts/flasher" %>
<% provide(:button_text, "Submit Response") %>

<section class="section_container" id="rsvp_page">
  <h1 class="section_header">RSVP</h1>
      <div class="flex_center">
        <%= image_tag "solo_tree.png", height: "150px" %>
        <%= image_tag "three_trees.png", height: "150px" %>
        <%= image_tag "two_trees.png", height: "150px" %>
      </div>
  <div>
    <div class="section_thirds group">
      <h2>Organized Events</h2>
      <div class="flex_center">
        <p id="guests_welcome">Guests are welcome to attend any or all events.</p>
      </div>
      <div class="col span_1_of_3">
        <h3>Welcome Dinner</h3>
        <p class="triplet_para">
          Join us Friday night as we start the weekend off. We’ll be serving a casual dinner at the Gazebo starting 6pm.
        </p>
      </div>
      <div class="col span_1_of_3">
        <h3>Morning Yoga</h3>
        <p class="triplet_para">
          Saturday morning, Ryan’s friend from college, <%= link_to("Emily Rollie", "http://www.emilyrollie.com/yoga", target: "_blank") %>, will be joining us and leading three yoga classes in the Tom Tom Yurt. Sessions begin at 7am, 9am, and 11am. Available mats and towels to borrow are limited, please bring your own if you have them.
          <span class="tooltip" id="read_disclaimer">
            Please read and agree
            <span class="tooltip_text">
              <%= render "shared/yoga_disclaimer" %>
            </span>
          </span>.
        </p>
      </div>
      <div class="col span_1_of_3">
        <h3>Ceremony & Reception</h3>
        <p class="triplet_para">
          Saturday evening, we host the wedding ceremony and reception dinner. Festivities kick off with pre-ceremony snacks and drinks at 4:30pm. Reception food is vegetarian.
        </p>
      </div>

    </div>
    <h2>Your Party</h2>
    <%= render "form" %>

    <p>
      <% if checked_in? %>
        It appears you have already started filling out a reservation. See your <%= link_to("Existing Reservation", current_guest, class: "emphasis") %>.
      <% else %>
        Have you filled out this form before? Check for an <%= link_to("existing reservation", check_path) %>.
      <% end %>
    </p>
  </div>
</section>

<%= render "layouts/tree_emblem" %>
<%= render "layouts/footer" %>




<!-- 






 -->