<%= render "layouts/header" %>
<%= render "layouts/flasher" %>


<section>
  <h1>RSVP</h1>
  <div>
    <h2>The Wedding</h2>
    <p>We would love to have your presence at the Wedding Ceremony and Reception Saturday July 8th.</p>

    <%= form_for(@guest, url: rsvp_path) do |f| %>
      <%= render "shared/error_messages" %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form_control" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form_control" %>

      <%= f.label :saturday_adults, "Adults in Your Party" %>
      <%= f.select :saturday_adults, (0..6).to_a, :prompt => "", class: "form_control" %>

      <%= f.label :saturday_children, "Children in Your Party" %>
      <%= f.select :saturday_children, (0..6).to_a, :selected => 0, class: "form_control" %>

    <p>Reception food is vegetarian. Do you have any other food restrictions?</p>

      <%= f.label :vegan, "Vegan" %>
      <%= f.check_box :vegan, class: "form_control" %>

      <%= f.label :food_restrictions, "Other" %>
      <%= f.text_field :food_restrictions, class: "form_control" %>

    <h2>Welcome Dinner</h2>
    <p>All are invited to join us Friday night as we start the weekend off. We’ll be serving a casual dinner at the Gazebo starting 6pm.</p>

      <%= f.label :friday_adults, "Adults attending Welcome Dinner" %>
      <%= f.select :friday_adults, (0..6).to_a, :selected => 0, class: "form_control" %>

      <%= f.label :friday_children, "Children attending Welcome Dinner" %>
      <%= f.select :friday_children, (0..6).to_a, :selected => 0, class: "form_control" %>

    <h2>Yoga</h2>
    <p>Ryan’s friend from college, <%= link_to("Emily Rollie", "http://www.emilyrollie.com/yoga") %>, will be joining us and leading two yoga classes Saturday morning.</p>

      <%= f.label :yoga_early, "Guests attending 7am session" %>
      <%= f.select :yoga_early, (0..6).to_a, :selected => 0, class: "form_control" %>
      <%= f.label :yoga_late, "Guests attending 10am session" %>
      <%= f.select :yoga_late, (0..6).to_a, :selected => 0, class: "form_control" %>

      <%= f.submit "Submit Response", class: "" %>
    <% end %>

    <p>
      Have you filled out this form before?
      <% if checked_in? %>
        See your <%= link_to("existing reservation", current_guest, class: "emphasis") %>.
      <% else %>
        Check for an <%= link_to("existing reservation", check_path) %>.
      <% end %>
    </p>
  </div>
</section>

<%= render "layouts/footer" %>