<%= render "layouts/header" %>
<%= render "layouts/flasher" %>


<section class="section_container" id="reservation">
  <h1 class="section_header">Your Reservation</h1>
  <div>
    <%= form_for(@guest, url: rsvp_path) do |f| %>
      <%= render "shared/error_messages", object: f.object %>

    <h2>Response Party</h2>

    <table class="flex_center">
      <tr>
        <td><%= f.label :name, "Your Name" %></td>
        <td><%= @guest.name %></td>
      </tr>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= @guest.email %></td>
      </tr>
    </table>

    <div class="">
      <% if @guest.attendees.any? %>
        <h3>Attendees (<%= @guest.attendees.count %>)</h3>
        <ol class="attendees">
          <%= render @guest.attendees %>
        </ol>
      <% end %>
    </div>

    <table class="flex_center">
      <tr>
        <td><%= f.label :song_artist %></td>
        <td>
          <% if @guest.song_artist? %>
            <%= @guest.song_artist %>
          <% else %>
            <small>none</small>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :song_title %></td>
        <td>
          <% if @guest.song_title? %>
            <%= @guest.song_title %>
          <% else %>
            <small>none</small>
          <% end %>
        </td>
      </tr>
    </table>

    <p>
      Need to change how we contact you? <%= link_to "Update Contact Information", edit_guest_path(current_guest), class: "emphasis" %>
    </p>
    <p>
      Are you not <%= @guest.name %>? You can <%= link_to("exit to the main page", check_out_path, method: "delete") %>, or <%= link_to("check here", check_path) %> for another reservation.
    </p>
    <% end %>

  </div>
</section>

<%= render "layouts/tree_emblem" %>
<%= render "layouts/footer" %>