<%= render "layouts/header" %>
<%= render "layouts/flasher" %>


<section class="section_container" id="reservation">
  <h1 class="section_header">Your Reservation</h1>
  <div>
    <%= form_for(@guest, url: rsvp_path) do |f| %>
      <%= render "shared/error_messages" %>

    <h2>Response Party</h2>

    <table class="flex_center">
      <tr>
        <td><%= f.label :name, "Your Name" %></td>
        <td><%= @guest.name %></td>
      </tr>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= @guest.email %></td>
      </tr>
      <tr>
        <td><%= f.label :members_in_party, "Members in Your Party" %></td>
        <td><%= @guest.members_in_party %></td>
      </tr>
    </table>

    <div class="">
      <% if @guest.attendees.any? %>
        <h3>Attendees (<%= @guest.attendees.count %>)</h3>
        <ol class="attendees">
          <%= render @attendees %>
        </ol>
      <% end %>
    </div>


    <p>
      Something not quite right? <%= link_to "Make Changes to the Reservation", edit_guest_path(current_guest), class: "emphasis" %>
    </p>
    <p>
      Are you not <%= @guest.name %>? You can <%= link_to("exit to the main page", check_out_path, method: "delete") %>, or <%= link_to("check here", check_path) %> for another reservation.
    </p>
    <% end %>

  </div>
</section>

<%= render "layouts/tree_emblem" %>
<%= render "layouts/footer" %>