<%= render "layouts/header" %>
<%= render "layouts/flasher" %>


<section class="section_container" id="reservation">
  <h1 class="section_header">Your Reservation</h1>
  <div>
    <%= form_for(@guest, url: rsvp_path) do |f| %>
      <%= render "shared/error_messages" %>

    <h2>The Wedding</h2>
    <p>Ceremony and Reception, Saturday July 8th</p>

    <table class="flex_center">
      <tr>
        <td><%= f.label :name %></td>
        <td><%= @guest.name %></td>
      </tr>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= @guest.email %></td>
      </tr>
      <tr>
        <td><%= f.label :saturday_adults, "Adults in Your Party" %></td>
        <td><%= @guest.saturday_adults %></td>
      </tr>
      <tr>
        <td><%= f.label :saturday_children, "Children in Your Party" %></td>
        <td><%= @guest.saturday_children %></td>
      </tr>
      <tr>
        <td><%= f.label :food_restrictions, "Food Restrictions" %></td>
        <td>
          <% if @guest.vegan? %>
            ✔ <%= f.label :vegan, "Vegan" %>
          <% end %>
          <% if @guest.food_restrictions.present? %>
            ✔ <%= @guest.food_restrictions %>
          <% end %>
          <% if !@guest.vegan? && !@guest.food_restrictions.present? %>
            none
          <% end %>
        </td>
      </tr>
    </table>

    <h2>Welcome Dinner</h2>
    <p>Friday July 7th, starting at 6pm</p>

    <table class="flex_center">
      <tr>
        <td><%= f.label :friday_adults, "Adults" %></td>
        <td><%= @guest.friday_adults %></td>
      </tr>
      <tr>
        <td><%= f.label :friday_children, "Children" %></td>
        <td><%= @guest.friday_children %></td>
      </tr>
    </table>

    <h2>Yoga</h2>
    <p>
      Led by <%= link_to("Emily Rollie", "http://www.emilyrollie.com/yoga", target: "_blank") %> Saturday morning
    </p>

    <table class="flex_center">
      <tr>
        <td><%= f.label :yoga_early, "7am session" %></td>
        <td><%= @guest.yoga_early %></td>
      </tr>
      <tr>
        <td><%= f.label :yoga_mid, "9am session" %></td>
        <td><%= @guest.yoga_mid %></td>
      </tr>
      <tr>
        <td><%= f.label :yoga_late, "11am session" %></td>
        <td><%= @guest.yoga_late %></td>
      </tr>
    </table>

    <h2>Music</h2>
    <p>Nominate the song you would most like us to add to the party playlist.</p>

    <table class="flex_center">
      <tr>
        <td>
          <%= f.label :song_requests, "Song" %>
        </td>
        <td>
          <%= @guest.song_requests %>
        </td>
      </tr>
    </table>

    <p>
      Something not quite right? <%= link_to "Make Changes to the Reservation", edit_guest_path(current_guest), class: "emphasis" %>
    </p>
    <p>
      Are you not <%= @guest.name %>? You can <%= link_to("exit to the main page", check_out_path, method: "delete") %>, or <%= link_to("check here", check_path) %> for another reservation.
    </p>
    <% end %>

  </div>
</section>

<%= render "layouts/tree_emblem" %>
<%= render "layouts/footer" %>