<%= render "layouts/header" %>
<%= render "layouts/flasher" %>


<section class="section_container" id="reservation">
  <h1 class="section_header">Your Reservation</h1>
  <div>
    <%= form_for(@guest, url: rsvp_path) do |f| %>
      <%= render "shared/error_messages", object: f.object %>

    <h2>Contact Info</h2>

    <table class="flex_center">
      <tr>
        <td><%= f.label :name, "Your Name" %></td>
        <td><%= @guest.name %></td>
      </tr>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= @guest.email %></td>
      </tr>
    </table>

    <div class="">
      <% if @guest.attendees.any? %>
        <h2>Attendees (<%= @guest.attendees.count %>)</h2>
        <% @guest.attendees.order("created_at ASC").each do |a| %>
        <table class="attendee_row flex_center">
          <tr>
            <td><%= a.name %> will attend:</td>

            <% if a.welcome_dinner? %>
            <td>Welcome Dinner: ✔️</td>
            <% end %>  

            <% if a.yoga? %>
            <td>Morning Yoga at <%= a.yoga %>: ✔️</td>
            <% end %>

            <% if a.reception_dinner? %>
            <td>Ceremony & Reception: ✔️</td>
            <% end %>

            <% if a.child? || a.vegan? || a.food_restrictions? %>
            <td>|</td>
            <% end %>

            <% if a.child? %>
            <td>Child under 10: ✔️</td>
            <% end %>

            <% if a.vegan? %>
            <td>Vegan: ✔️</td>
            <% end %>
          
            <% if a.food_restrictions? %>
            <td>NB: <%= a.food_restrictions %>: ✔️</td>
            <% end %>
          </tr>
        </table>

        <% end %>
      <% end %>
    </div>

    <h2>Music</h2>
    <table class="flex_center">
      <tr>
        <td><%= f.label :song_artist %></td>
        <td>
          <% if @guest.song_artist? %>
            <%= @guest.song_artist %>
          <% else %>
            <small>none</small>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :song_title %></td>
        <td>
          <% if @guest.song_title? %>
            <%= @guest.song_title %>
          <% else %>
            <small>none</small>
          <% end %>
        </td>
      </tr>
    </table>

    <p class="flex_center">
      <%= link_to "Edit Reservation", edit_guest_path(current_guest), class: "emphasis" %>
    </p>
    <p>
      Are you not <%= @guest.name %>? You can <%= link_to("exit to the main page", check_out_path, method: "delete") %>, or <%= link_to("check here", check_path) %> for another reservation.
    </p>
    <% end %>

  </div>
</section>

<%= render "layouts/tree_emblem" %>
<%= render "layouts/footer" %>