<%= render "layouts/header" %>
<% provide(:button_text, "Add Attendee") %>


<section class="section_container" id="add_attendee">
  <h1 class="section_header">Add Attendee</h1>
<%= render "layouts/flasher" %>
  <p class="flex_center">
    You have <%= pluralize(@guest.attendees.count, "person") %> registered already:
  </p>
  <div class="flex_center">
    <table>
      <tr>
        <% @guest.attendees.order("created_at ASC").each do |a| %>
          <td><%= a.name %> ✔️</td>
        <% end %>
      </tr>
    </table>
  </div>
  <div>
    <%= form_for(@guest, url: rsvp_path) do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.fields_for :attendees, Attendee.new do |attendee_form| %>
        <table class="attendee_row flex_center" id="add_attendee">
          <tr>
            <td><%= attendee_form.label :name, "##{ @guest.attendees.count + 1 }" %></td>
            <td><%= attendee_form.text_field :name, placeholder: "attendee name" %></td>
            <td>will attend:</td>
            <td>
              <%= attendee_form.label :welcome_dinner %><%= attendee_form.check_box :welcome_dinner %></td>
            <td>
              <div class="tooltip">
                <%= attendee_form.label :yoga, "Morning Yoga" %>
            <span class="tooltip_text"><%= render "shared/yoga_disclaimer" %></span>
              </div>
                <%= attendee_form.select :yoga, ["","7am","9am","11am"] %>
            </td>
            <td>
              <%= attendee_form.label :reception_dinner, "Ceremony & Reception" %><%= attendee_form.check_box :reception_dinner %></td>
            <td>|</td>
            <td>
              <%= attendee_form.label :child, "Child under 10" %><%= attendee_form.check_box :child %>
            </td>
            <td>
              <%= attendee_form.label :vegan %><%= attendee_form.check_box :vegan %></td>
            <td><%= attendee_form.text_field :food_restrictions, placeholder: "other" %></td>
          </tr>
        </table>

      <% end %>

      <%= render "shared/error_messages", object: f.object %>
      <div class="flex_center" id="submit_box">
        <%= f.submit yield(:button_text), class: "submit_button" %>
      </div>
    <% end %>
    <p class="flex_center">
      <%= link_to "Cancel", guest_path(current_guest), class: "emphasis" %>
    </p>
    <p>
      Are you not <%= @guest.name %>? You can <%= link_to("exit to the main page", check_out_path, method: "delete") %>, or <%= link_to("check here", check_path) %> for another reservation.
    </p>

  </div>
</section>

<%= render "layouts/tree_emblem" %>
<%= render "layouts/footer" %>