<%= render "layouts/header" %>
<%= render "layouts/flasher" %>

<section class="section_container" id="new_attendees">
  <h1 class="section_header">Members of Your Party</h1>
  <div>

  <%= render 'shared/attendee_form' %>


  </div>
</section>

<%= render "layouts/tree_emblem" %>
<%= render "layouts/footer" %>