<!DOCTYPE html>
<html>
  <head>
    <title>Anna + Ryan | July 8, 2017</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "layouts/fonts" %>
    <%= render "layouts/favicons" %>
    <%= render "layouts/html5shim" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
